<div class="modal fade" id="notificationModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tất cả thông báo</h4>
            </div>
            <div class="modal-body">
                <a href="javascript:void(0)" class="ml-auto" id="modal-mark-notif-readed"><strong>Đánh dấu tất cả đã
                        đọc</strong> </a>
                <hr>
                <ul class="list-notifications">
                    <% notifications.map(noti =>{ %>
                    <li>
                        <%- noti%>
                    </li>
                    <%  }) %>


                    <!-- <% if(countNofifUnread > 10) {  %> -->

                    <!-- <% } %> -->
                </ul>
                <div class="text-center pt-4">
                    <button class="btn btn-success" id="load_more_notify">Xem thêm</button>

                </div>
                <div class="text-center  ">
                    <div class=" lds-ripple">
                        <div></div>
                        <div></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>