<% if(errors !== '') { %>
    <% errors.map(item => { %>
        <script>openRegisterModal();</script>
        <div class="alert alert-danger"><%- item %> </div>
        <% }) %>
<% } %>

<% if(success !== '') { %>
    <% success.map(item => { %>
        <script>openLoginModal();</script>
        <div class="alert alert-success"><%- item %> </div>
        <% }) %>
<% } %>